<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    {% include analytics_head.html %}
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/schedule">Schedule</a>
              <a href="{{ site.baseurl }}/project">Project</a>
              <a href="{{ site.baseurl }}/syllabus">Syllabus</a>
              <a href="{{ site.baseurl }}/FAQ">FAQ</a>
            </nav>
          </header>
          <div>
            <hr width="100%" size="1" color="#DCDCDC" noshade>
            <b>Fall 2021. Chris Tanner, Harvard University</b>
            <br>
            <b><font color="#A4251A">T/TH 9:45-11:00</font> in SEC LL2.224</b>
            <hr width="100%" size="1" color="#DCDCDC" noshade>
          </div>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
